<template>
  <div class="container">
    <div>
      <h1 class="title"> zabc phur multi languages </h1>
      <zkv/> 
    </div>
  </div>
</template>
<script>
import Zkv from '../components/zkv.vue'
export default { components: {  Zkv } }
</script>'
<style>
.container { margin: 0 auto; min-height: 100vh; display: flex; justify-content: center; align-items: center; text-align: center; }
.title { font-family: u5cdot; font-weight: 300; font-size: 16px; display: block; color: #35495e; letter-spacing: 1px; }
.subtitle { font-weight: 300; font-size: 42px; color: #526488; word-spacing: 5px; padding-bottom: 15px; }
</style>
